<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="layout.safetravel.com.safetravel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pages.PerjalananPage" />
        <activity android:name=".Fragment.PerjalananPendaftaran" />
        <activity android:name=".Fragment.PerjalananRiwayat" />
        <activity android:name=".Pages.PerjalananSementara" />
        <activity android:name=".Adapter.TujuanPerjalananAdapter" />
        <activity android:name=".Adapter.AnggotaPerjalananAdapter" />
        <activity android:name=".Pages.PerjalananMenetap" />
        <activity android:name=".Pages.CheckInPage" />
        <activity android:name=".Pages.ProfilPage" />
        <activity android:name=".Adapter.InfoStatusProfil" />
        <activity android:name=".Pages.EditProfilPage" />
        <activity android:name=".Pages.CheckinPage" />
        <activity android:name=".Pages.TambahTempatWisata" />
        <activity android:name=".Pages.InfoDaruratPage" />
        <activity android:name=".Pages.InfoDaruratLokasi" />
        <activity android:name=".Pages.LiniMasaPages" />
        <activity android:name=".Adapter.LiniMasaAdapter" />
        <activity android:name=".Pages.InfoDaruratPhoto" />
        <activity android:name=".Pages.InfoDaruratVideo" />
        <activity android:name=".Pages.InfoDaruratTelp" />
        <activity android:name=".Adapter.DaruratTelpAdapter"></activity>
    </application>

</manifest>